.App {
  text-align: center;
}

#lizard-logo {
  max-height: 300px;
  max-width: 150px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#project-name {
  color: greenyellow;
  font-size: 48px;
  font-family: 'Courier';
  background-color: grey;
  text-align: center;
}

.fileitem:active {
  background-color: white !important;
}
.fileitem:hover {
  background-color: white !important;
}

.downloadBtn {
  background-color: transparent !important;
  position: absolute;
  bottom: 2px;
  right: 80px;
}
.downloadBtn:hover {
  background-color: lightgreen !important;
}
.downloadBtn:active {
  background-color: green !important;
}
.downloadIcon {
  width: 30px;
  height: 30px;
}

.deleteBtn {
  background-color: transparent !important;
  position: absolute;
  right: 20px;
  bottom: 2px;
}
.deleteBtn:hover {
  background-color: lightcoral !important;
}
.deleteBtn:active {
  background-color: red !important;
}
.deleteIcon {
  width: 30px;
  height: 30px;
}

.uploadBtn {
  padding: 10px;
  background-color: white;
  transition: background 0.1s linear;
  border-radius: 10px;
  border: 2px solid grey;
  width: 100px;
  height: 100px;
}
.uploadBtn:hover {
  background-color: lightblue;
}
.uploadBtn:active {
  background-color: steelblue;
}

.UploadForm {
  margin: 5px;
  height: 50%;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
  background-color: lightgrey;
}

.FileDisplay {
  height: 240px;
  overflow: auto;
}